{{ define "description" }}
  <header class="description">
    <h3>{{ .Params.Description }}</h3>
  </header>
{{ end }}

{{ define "main" }}
  {{ $name := .Page.File.BaseFileName }}
  <!-- NOTE since Gardener.title may has spaces in it, we compare on file name -->
  {{ $page := . }}

  {{ $PublicPages := where .Site.AllPages "Params.display" "public" }}

  {{ $OrganizationPages := where $PublicPages "Type" "eq" "organization" }}
  {{ $FacilitatorPages := where $PublicPages "Params.facilitator" "intersect" (slice $name) }}
  {{ $AuthorPages := where $PublicPages ".Params.author" "intersect" (slice $name) }}
  {{ $HelpedPages := where $PublicPages ".Params.helpers" "intersect" (slice $name) }}


  <div class="cover">
    {{ $img_src := partial "gardener/get-img.html" $name }}
    {{ if $img_src }}
      <div class="avatar" style="background-image: url({{ $img_src }})"></div>
    {{ end }}

    <ul class="status">
      <li>
        <span>Organizations:</span>
        <!-- CODE: extract a nicer function like get-gardener-organizations -->
        {{ range $OrganizationPages }}
          {{ $isMember := in .Params.members $name }}
          {{ if $isMember }}
            {{ $ctx := dict
              "page" $page
              "organizationName" .File.BaseFileName
            }}
            {{ partial "organization/popover.html" $ctx }}
          {{ end }}
        {{ end }}
      </li>

      <li>
        <span>Facilitator in:</span>
        {{ range $FacilitatorPages }}
          <!-- CODE: fix category thing with Type? -->
          <a href="/{{ .Type }}/{{ .File.ContentBaseName }}"
            >{{ .Params.title }}</a
          >
          ({{ .Params.category }})
        {{ end }}
        {{ if len $FacilitatorPages | eq 0 }}
          <em>None yet</em>
        {{ end }}
      </li>

      <li>
        <span>Author in:</span>
        {{ range $AuthorPages }}
          <!-- CODE: fix .Params.category reference -->
          <a
            href="/{{ .Type }}/{{ .File.ContentBaseName }}"
            data-placement="top"
            data-toggle="popover"
            data-content="{{ .Params.category }} CODE: some more info"
            >{{ .Params.title }}</a
          >
        {{ end }}
        {{ if len $AuthorPages | eq 0 }}
          <em>None yet</em>
        {{ end }}
      </li>

      <li>
        <span>Helped in:</span>
        {{ range $HelpedPages }}
          <a
            href="/{{ .Type }}/{{ .File.ContentBaseName }}"
            data-placement="top"
            data-toggle="popover"
            data-content="{{ .Params.category }} CODE: some more info"
            >{{ .Params.title }}</a
          >
        {{ end }}
        {{ if len $HelpedPages | eq 0 }}
          <em>None yet</em>
        {{ end }}
      </li>
    </ul>
  </div>

    {{ .Content }}

    {{ if .Params.Link }}
      <p>
        <a href="{{ .Params.Link }}" class="btn">Visit {{ .Title }}</a>
      </p>
    {{ end }}

    {{ partial "needs.html" . }}
  </article>
{{ end }}
