<!DOCTYPE html>
<html lang="en" class="
  {{ if .IsHome }} home
  {{ else if .IsSection }} list 
  {{ else }} single
  {{ .Section }}
  {{ end }}
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>

  <body>
    <div class="container">
      {{ block "nav/global" . }}
        <header class="global">
          <a
            data-toggle="collapse"
            href="#menu-global"
            role="button"
            aria-expanded="false"
            aria-controls="menu-global"
          >
            <h1>
              <span class='site'>{{ .Site.Title }}</span>
              {{ if not .IsHome }}/{{ end }}
              {{ if .IsPage }}
                <span class="section">{{ .Section }}</span>
              {{ end }}
            </h2>
            {{ partial "affordance.html" . }}
          </a>
          <div class="collapse collapse-content menu" id="menu-global">
            {{ partial "menu-global.html" . }}
          </div>
        </header>
      {{ end }}

      {{ block "nav/article" . }}
        <header class="article">
          <a
            data-toggle="collapse"
            href="#menu-article"
            role="button"
            aria-expanded="false"
            aria-controls="menu-article"
          >
            <h2>
              {{ if .IsPage }}
                {{ .Title }}
              {{ else }}
                {{ .Title | singularize }}
              {{ end }}
            </h2>
            {{ partial "affordance.html" . }}
          </a>
          <div class="collapse collapse-content menu" id="menu-article">
            {{ partial "menu-category.html" . }}
          </div>
        </header>
      {{ end }}

      {{ block "description" . }}
        <header class="description">
          <h3>
            {{ if .Params.description }}
              {{ .Params.description }}
            {{ else }}
              Enhancing knowledge commons
            {{ end }}
          </h3>
        </header>
      {{ end }}

      <div class="content">
        {{ block "main" . }}
          {{ .Content }}

          {{ if .Params.Link }}
            <p>
              <a href="{{ .Params.Link }}" class="btn">Visit {{ .Title }}</a>
            </p>
          {{ end }}

          {{ partial "needs.html" . }}
        {{ end }}
      </div>

      <footer>
        {{ block "footer" . }}
          <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
      </footer>
    </div>


    {{ partial "scripts.html" . }}
  </body>
</html>
