{{ define "title" }}
  {{ lower .Site.Title }}/{{ .Section }}
{{ end }}

{{ define "description" }}
  <header class="description">
    <h2>
      <!-- CODE: get category description from JSON file -->
      Category description here
    </h2>
  </header>
{{ end }}

{{ define "main" }}
  <article class="grid-list">
    <!-- CODE: we need to ensure just top pages appear here. maybe 
          "if not .IsNode"? for now I made internal pages private -->
    {{ range .Pages }}
      {{ if (in .Params.display "public") }}
        <a class="item" href="{{ .RelPermalink }}">
          <h2>{{ .Title }}</h2>
          <p>{{ .Description }}</p>
        </a>
      {{ end }}
    {{ end }}

  </article>
{{ end }}
