{{ define "main" }}
  {{ .Content }}

  {{ if .Params.Link }}
    <p>
      <a href="{{ .Params.Link }}" class="btn">Visit {{ .Title }}</a>
    </p>
  {{ end }}

  {{ partial "needs.html" . }}
{{ end }}
