html {
  --spacing: var(--gap-2);
  @media (max-width: $bp-small) {
    --spacing: var(--gap);
  }
}

// *:focus {
// 	outline: solid 2px black;
// 	outline-offset: 2px;
// 	@include transition;
// }

.container {
  max-width: $bp-medium;
  margin: calc(var(--spacing) * 2) auto;
}
.badge {
  border: solid 1px var(--color-2);
  color: var(--color-font);
  @include radius(20px);
  font-weight: normal;
  padding: var(--gap-half) var(--gap-2);
}

header,
.content {
  border: solid 1px var(--color-2);
  background-size: 4px 4px;

  html.spec & {
    background-image: url(/images/bg-spec.svg);
  }
  html.initiative & {
    background-image: url(/images/bg-initiative.svg);
  }
  html.organization & {
    background-image: url(/images/bg-organization.svg);
  }
  html.gardener & {
    background-image: url(/images/bg-gardener.svg);
  }
  html.about & {
    background-image: url(/images/bg-about.svg);
  }
  html.internal & {
    background-image: url(/images/bg-internal.svg);
  }

  &:not(:first-child) {
    border-top: none;
  }
}

a {
  color: var(--color-text);
  @include transition;
  text-decoration: none;

  &:hover {
    @include transition;
    color: var(--color-text);
    text-decoration: none;
  }

  &[data-toggle="popover"]:not(.pebble) {
    &:after {
      content: "";
      background-color: var(--color-2);
      display: inline-block;
      position: absolute;
      margin-top: -1px;
      margin-left: 0px;
      width: 6px;
      height: 6px;
      @include transition;
      @include radius(50%);
    }
    &:hover {
      &:after {
        background-color: var(--color-1);

        margin-top: -15px;
      }
    }
  }
}

a:not([data-toggle="collapse"]):not(.pebble):not(.btn):not(.item) {
  border-bottom: solid 1px var(--color-2);
  outline: solid 0px var(--color-3);

  &:hover {
    padding-bottom: 3px;
    border-bottom: dashed 1px var(--color-text);
  }
}
header {
  h1,
  h2 {
    word-break: break-word;
  }
  .collapse-content {
    padding: var(--spacing);
    padding-top: 0;
  }
  &.page {
    text-transform: uppercase;
    padding: calc(var(--spacing) / 2) var(--spacing);
  }
  &.description {
    padding: calc(var(--spacing) / 2) var(--spacing);
  }
  a[data-toggle="collapse"] {
    text-decoration: none;
    &:hover {
      background-color: var(--color-1);
    }
    display: grid;
    grid-gap: var(--spacing);
    align-items: center;
    grid-template-columns: 1fr var(--affordance);

    padding: calc(var(--spacing) / 2) var(--spacing);

    border: none;
    text-transform: uppercase;
    .affordance svg path {
      fill: var(--color-2);
      @include transition;
    }
    &:hover .affordance svg path {
      fill: var(--color-text);
    }
    &[aria-expanded="false"] .affordance {
      &.minus {
        display: none;
      }
    }
    &[aria-expanded="true"] .affordance {
      &.plus {
        display: none;
      }
    }
  }
}

.content {
  padding: var(--spacing);
  .history {
    display: none;
  }
  &.with-history {
    .history {
      display: block;
    }
    @media (max-width: $bp-small) {
      padding-left: 0;
      overflow: hidden;
    }

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: calc(var(--spacing) * 1.5);
  }
}

ul.status {
  @include reset(list);
  padding: 0;
  margin: 0;
  margin-bottom: var(--spacing);
  li {
    margin-bottom: 0px;
  }
  li span {
    text-transform: uppercase;
    @include status;
    padding: 1px 3px;
  }
}

a.pebble {
  text-decoration: none;
  border: none;
  width: 20px;
  @include transition;
  &:hover {
    @include rotate(15);
  }
  @media (max-width: $bp-small) {
    width: 30px;
    margin-left: -15px;
  }

  &:not(:last-of-type) {
    margin-bottom: 3px;
  }
  display: block;

  svg path {
    fill: var(--color-2);
  }
}

h1,
h2 {
  margin: 0;
}

h1 { font-size: 40px; }
h2 { font-size: 20px; }
h3 { font-size: 20px; }


html.home header.global,
html.home header.article,
html.home header.description {
  h1 {
    font-size: 40px;
  }
}

html.list header.global,
html.list header.article,
html.list header.description {
  h1 { font-size: 20px; }
  h2 { font-size: 40px; }
  h3 { font-size: 20px; }
}

html.single header.global,
html.single header.article,
html.single header.description {
  h1 { font-size: 20px; }
  h2 { font-size: 40px; }
  h3 { font-size: 20px; }
}

article {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: var(--gap-2);
  }
}

body {
  font-family: var(--font-text);
  background-color: var(--color);
  -color: var(--color-text);
  font-size: 15px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

article {
  counter-reset: steps;
}

blockquote {
  padding: var(--spacing);
  display: block;
  border: solid 1px #ccc;
  @include transition;
  background-color: rgba(yellow, 0.2);
  &:not(:only-of-type):before {
    position: absolute;
    counter-increment: steps;
    content: counter(steps);
    margin-left: -55px;
    text-align: right;
    width: 30px;
    @include opacity(40);
    @include transition;
  }
  &:not(:only-of-type):hover {
    @include scale(1.05);
    @include shadow(box, 4px 4px 0px rgba(0, 0, 0, 0.05));
    &:before {
      @include opacity(100);
    }
  }
}

body {
  @media (max-width: $bp-small) {
    margin: none !important;
    padding: none !important;
  }
}

a.btn {
  text-align: center;
  display: inline-block;
  font-family: var(--font-title);
  text-transform: uppercase;
  @include radius(0, regular);
  padding: var(--gap) var(--gap-3);
  border: solid 1px var(--color-2);
  background-color: var(--color);
  @include radius(2px);
  @include shadow(box, var(--shadow));
  text-decoration: none;
  @include transition;
  &:hover {
    background-color: white;
    border-color: var(--color-text);
    @include shadow(box, var(--shadow-hover));
  }
  @media (max-width: $bp-small) {
    padding: var(--gap) var(--gap-2);
    &:not(:first-of-type) {
      margin-top: var(--gap);
    }
  }
}

.sig {
  font-size: 90%;
  margin-top: var(--gap-2);
}

code {
  word-break: keep-all;
  background-color: rgba(white, 0.8);
  padding: 0 2px;
  color: black;
}

table {
  width: 100%;
  tbody tr {
    border-top: solid 0.5px var(--color-2);
  }

  td,
  th {
    padding: 10px;
    border-top: solid 0.5px var(--color-2);

    text-align: left;

    vertical-align: top;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.cover {
  display: grid;
  width: 100%;
  grid-gap: calc(var(--spacing) * 1.5);
  grid-template-columns: var(--avatar) 1fr;
  padding-bottom: calc(var(--spacing) * 2);

  ul {
    margin: 0;
    padding: 0;
  }
}

.avatar {
  background-size: cover;
  width: var(--avatar);
  height: var(--avatar);
}

.actor {
  vertical-align: middle;
  display: grid;
  grid-template-columns: 80px auto;
  .avatar {
    width: 80px;
    height: 80px;
    margin-left: -20px;
  }

  p:last-of-type {
  }
}
.needs {
  .need {
    font-family: var(--font-title);

    &:not(:first-of-type) {
      padding-top: var(--gap-half);
    }
    .btn {
      padding: var(--gap-half) var(--gap-2);
      margin-right: 5px;
      @include fadeInLeft;
    }
    span {
      font-family: var(--font-title);
      text-transform: uppercase;
    }
  }
}

.grid-list {
  header .collapse-content & {
    margin: var(--spacing) 0;
  }

  @include reset(list);
  @include reset(padding);
  .item {
    padding: var(--spacing);
    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h2,
    p {
      word-break: break-all;
    }
  }
  a.item {
    &:hover {
      background-color: white;
      @include scale(1.05);
      border: solid 1px var(--color-2);
      @include shadow(box, var(--shadow-hover));
    }
  }

  @media (max-width: $bp-small) {
    display: grid;
    grid-template-columns: 1fr;
    .item {
      padding: var(--gap-2) 0;
      border-top: solid 1px var(--color-2);
      .actions {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: var(--spacing);
      }
    }
  }

  @media only screen and (max-width: $bp-medium) and (min-width: $bp-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item {
      &:not(:nth-of-type(2n)):not(:only-of-type) {
        border-right: solid 1px var(--color-2);
      }
      &:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        border-top: solid 1px var(--color-2);
      }
    }
  }
  @media (min-width: $bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .item {
      &:not(:nth-of-type(3n)):not(:only-of-type) {
        border-right: solid 1px var(--color-2);
      }
      &:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)) {
        border-top: solid 1px var(--color-2);
      }
    }
  }
}

.grid {
  @media (min-width: $bp-small) {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    section {
      &:not(:last-of-type) {
        border-right: solid 1px var(--color-2);
        margin-right: var(--gap-2);
        padding-right: var(--gap-2);
      }
    }
  }
  @media (max-width: $bp-small) {
    section {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 2fr;
      grid-gap: var(--spacing);
      &:not(:first-of-type) {
        margin-top: var(--gap-2);
      }
    }
  }
  h2 {
    margin-bottom: var(--gap);
  }
}
