<a
  data-toggle="collapse"
  href="#categoryCollapse"
  aria-expanded="false"
  aria-controls="categoryCollapse"
>
  all categories
</a>

<div class="collapse" id="categoryCollapse">
  <blockquote>TODO: list all public categories here</blockquote>
</div>
