{{ if .Params.Needs }}
  {{ $page := . }}

  {{ $emails := partial "organization/get-contacts.html" $page }}
  {{ $emails_delimit := delimit $emails "," }}


  <div class="needs">
    <h2>Help needed:</h2>
    {{ with .Params.Needs }}
      <ol class="needs">
        {{ range . }}
          <li class="need">
            Can you help with
            <a
              href="mailto:{{ $emails_delimit }}?subject={{ . }} help for {{ $page.Title }}"
              class="btn"
              data-placement="left"
              data-toggle="popover"
              data-content="Email us your availability and we'll connect you with this {{ $page.Section }}"
            >
              {{ . }}
            </a>
            ?
          </li>
        {{ end }}
      </ol>
    {{ end }}
  </div>
{{ end }}
