<script type="module" src="/javascript/time-elements/index.js"></script>
{{ $jquery := resources.Get "js/jquery.min.js" }}
<script src="{{ $jquery.Permalink }}"></script>
{{ $popper := resources.Get "js/popper.min.js" }}
<script src="{{ $popper.Permalink }}"></script>
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
<script src="{{ $bootstrap.Permalink }}"></script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
  $('[data-toggle="popover"]')
    .popover({ trigger: "manual", html: true, animation: true, content: "" })
    .on("mouseenter", function () {
      var _this = this;
      $(this).popover("show");
      $(".popover").on("mouseleave", function () {
        $(_this).popover("hide");
      });
    })
    .on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
        if (!$(".popover:hover").length) {
          $(_this).popover("hide");
        }
      }, 300);
    });
</script>
