---
title: Identity Recovery
display: public
status: ongoing
description: Effective identity recovery on distributed systems
author: [nonlinear]
facilitator: [nonlinear]
date: 2023-06-05
---

<p>
  Eventually, user loses device and jumps to another. Because SSB is non-cloud,
  it can't re-authenticate easily. And because this is always an accident, users
  are not prepared for when it happens.
</p>

<p>
  <a class="btn" href="https://gitlab.com/staltz/manyverse/-/issues/1942"
    >View issue</a
  >

  <a
    class="btn"
    href="https://www.figma.com/file/Qkei1VgElbho66UinY9MzH/identity-recovery?type=whiteboard&node-id=0%3A1&t=2Pdgp2DTTIScm4b4-1"
    >View assumption board</a
  >
</p>

<p>
  Note: <a href="/gardener/mixmix">Mix</a> worked on
  <a href="https://darkcrystal.pw/">Dark Crystal technology</a>'s first round
</p>
